.card{
    display: block;
    padding: $base-padding;
    box-shadow:$base-box-shadow;
    max-width: 400px;

    .card__title{
        font-size: $base-font-size;
        padding-bottom: $base-padding;
        font-weight: bold;
        font-size: 2rem;
    }
    .card__body{
        
        .card__paragraph{
            font-size: $base-font-size;
        }
        .card__link{
            display: inline-block;
            border:$base-border-thickness solid $clr-gray;
            padding:$base-padding;
            font-size: $base-font-size;
            margin:$base-margin;

            &:hover{
              background:$clr-black;
              color:$clr-white;
            }
        }
    }
}