*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
$primary:#326dee;
$secondary:#1ac888;
$error:#d32752;
$info:#f6c31c;

/* Basic colors */
$clr-primary:#4d148c;
$clr-secondary:#f96703;
$clr-black:#000000;
$clr-white:#ffffff;
$clr-lightWhite:#EEF1F6;
$clr-bgGray:#eee8f5;

$clr-gray:#4d4d4d;
$clr-darkGray:#1e1e1e;
$clr-lightGray:#464646;

$base-padding:0.75rem;
$base-margin:0.75rem;

$base-border-thickness: 1px;
$base-border-radius:20px;


h2{
    color:$primary;
}
a{
    color:$primary;
}
.error{
    color:$error;
    border:2px solid $error;
    width: 200px;
    height: 40px;
}
.notify{
    color:$info;
    border:2px solid $secondary;
    padding: $base-padding;
    width: 200px;
    height: 40px;
}
button{
    border:none;
    color:$clr-white;
    background:$primary;
    padding: $base-padding;
    margin: $base-margin;
    border-radius: $base-border-radius;
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    -ms-border-radius: $base-border-radius;
    -o-border-radius: $base-border-radius;
}