
$primary:#326dee;
$secondary:#1ac888;
$error:#d32752;
$info:#f6c31c;

/* Basic colors */
$clr-primary:#4d148c;
$clr-secondary:#f96703;
$clr-black:#000000;
$clr-white:#ffffff;
$clr-lightWhite:#EEF1F6;
$clr-bgGray:#eee8f5;

$clr-gray:#4d4d4d;
$clr-darkGray:#1e1e1e;
$clr-lightGray:#464646;

$base-padding:0.75rem;
$base-margin:0.75rem;

$base-border-thickness: 1px;
$base-border-radius:20px;